<!DOCTYPE html>
<html lang="zxx">
	<head>
		<title>SolMusic | HTML Template</title>
		<meta charset="UTF-8">
		<meta name="description" content="SolMusic HTML Template">
		<meta name="keywords" content="music, html">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link href="{{asset('img/favicon.ico')}}" rel="shortcut icon"/>

		<!-- Google font -->
		<link
		href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('css/slicknav.min.css')}}"/>

		<!-- Main Stylesheets -->
		<link rel="stylesheet" href="{{asset('css/style.css')}}"/>

	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Header section -->
		<header class="header-section clearfix">
			<a href="index.html" class="site-logo">
				<img src="{{asset('img/logo.png')}}" alt="">
			</a>
			<div class="header-right">
				<div class="user-panel">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a href="{{path('app_logout')}}" class="register">Logout</a>					
					{% else %}
					<a href="{{path('app_login')}}" class="register">Login</a>
					{% endif %}
				</div>
			</div>
			<ul class="main-menu">
				<li> <!-- Willkommen -->
					<a href="{{path('home')}}">Willkommen</a>
				</li>
				<li> <!-- Menükarte -->
					<a href="{{path('menu')}}">Menükarte</a>
				</li>
				<li> <!-- News -->
					<a href="blog.html">News</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li> <!-- Mitarbeiter -->
					<a href="#">Mitarbeiter</a>
					<ul class="sub-menu">
						<li>
							<a href="{{path('meals.edit')}}">Gerichte</a>
						</li>
						<li>
							<a href="{{path('meals.create')}}">Gericht anlegen</a>
						</li>
						<li>
							<a href="{{path('registry')}}" class="register">Mitarbeiter registrieren</a>
						</li>
					</ul>
				</li>
				{% endif %}
			</ul>
		</header>
		<!-- Header section end -->
		{% block body %}{% endblock %}

		<!-- Intro section -->
		<section class="intro-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="section-title">
							<h2>Unlimited Access to 100K tracks</h2>
						</div>
					</div>
					<div class="col-lg-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
						<a href="#" class="site-btn">Try it now</a>
					</div>
				</div>
			</div>
		</section>
		<!-- Intro section end -->		
		<!-- Footer section -->
		<footer class="footer-section">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 order-lg-2">
						<div class="row">
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>About us</h2>
									<ul>
										<li><a href="">Our Story</a></li>
										<li><a href="">Sol Music Blog</a></li>
										<li><a href="">History</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Products</h2>
									<ul>
										<li><a href="">Music</a></li>
										<li><a href="">Subscription</a></li>
										<li><a href="">Custom Music</a></li>
										<li><a href="">Footage</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="footer-widget">
									<h2>Playlists</h2>
									<ul>
										<li><a href="">Newsletter</a></li>
										<li><a href="">Careers</a></li>
										<li><a href="">Press</a></li>
										<li><a href="">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-5 order-lg-1">
						<img src="{{asset('img/logo.png')}}" alt="">
						<div
							class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with
							<i class="fa fa-heart-o" aria-hidden="true"></i>
							by
							<a href="https://colorlib.com" target="_blank">Colorlib</a>
							Downloaded from
							<a href="https://themeslab.org/" target="_blank">Themeslab</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="social-links">
							<a href="">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="">
								<i class="fa fa-youtube"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer section end -->

		<!--====== Javascripts & Jquery ======-->
		<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		<script src="{{asset('js/jquery.slicknav.min.js')}}"></script>
		<script src="{{asset('js/owl.carousel.min.js')}}"></script>
		<script src="{{asset('js/mixitup.min.js')}}"></script>
		<script src="{{asset('js/main.js')}}"></script>

	</body>
</html>
