{% extends 'base.html.twig' %}

{% block body %}
<!-- Playlist section -->
<section class="playlist-section spad">
	<div class="container-fluid">
		<div class="section-title">
			<h2>Menükarte</h2>
		</div>
		<div class="container">
			<ul class="playlist-filter controls">
				<li class="control" data-filter=".Getränk">Getränke</li>
				<li class="control" data-filter=".Vorspeise">Vorspeisen</li>
				<li class="control" data-filter=".Hauptspeise">Hauptspeisen</li>
				<li class="control" data-filter=".Nachspeise">Nachspeisen</li>
				<li class="control" data-filter="all">Alle Speisen</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="row playlist-area">
			{% for meal in meals %}
			<div class="mix col-lg-3 col-md-4 col-sm-6 {{ meal.category }}">
				<div class="playlist-item">
					<img src="{{ asset('pictures/') ~ meal.picture}}" alt="{{ meal.name }}">
					<h5>{{ meal.name }}</h5>
                    <p>{{ meal.description }} - {{ meal.price }} €</p>
                    {# <p>Bestellnummer: {{ meal.id }}</p> #}
				</div>
			</div>			
			{% endfor %}
		</div>
	</div>
</section>
<!-- Playlist section end -->

{% endblock %}
